.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .header { /* Adjust header styles */
    font-size: 14px;
  }
  .carousel img {
    height: auto; /* Ensure proper scaling */
  }
  .card {
    margin: 10px 0; /* Reduce spacing between cards */
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
  .card {
    width: 100%;
    max-width: 300px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
